doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", type="text/css", href="css/kaffe.css")
		script(src="js/jquery-2.1.4.min.js", type="text/javascript")
		script(src="js/jQueryRotate.js", type="text/javascript")
		script(src="js/index.js", type="text/javascript")
	body.container
		h1 Den store kaffesiden
		include nav.jade
		if gjetting && dagensbrygg && dagensbrygg.kaffe_navn != "Ukjent"
			include gjetteresultat.jade
		div.subcontainer
			if dagensbrygg == null || dagensbrygg.kaffe_navn == "Ukjent"
				div.rightAligned.verticalLineRight.halfWidth#nydagenskaffe
					h2 Dagens kaffe
					form(id="nyDagenskaffeForm", action="registrerNyDagensKaffe", method="POST")
						input(type="text", id="kaffeNavn", name="kaffeNavn", style="display:none")
						label(for="kaffeId") Kaffe
						div.selectSquaredCorners
							select#kaffeId(name="kaffeId")
								each element in dropdownkaffer
									option(value="#{element._id}") #{element.produsent} - #{element.navn} (#{element.type}) 
						br
						label(for="brygger") Kaffemaker
						input.rightAlign.mediumWidth(type="text", id="brygger", name="brygger", placeholder="jerre...", required)
						br
						label(for="liter") Liter
						input.rightAlign.mediumWidth(type="number", id="liter", name="liter", min="0.1", step="0.05", required)
						br
						label(for="skjeer") Skjeer
						input.rightAlign.mediumWidth(type="number", id="skjeer", name="skjeer", min="0.25", step="0.25", required)
						input(id="submitNyDagenskaffe", type="submit", style="display: none")
			else
				div.rightAligned.verticalLineRight.halfWidth#nydagenskaffe
					h2 Dagens kaffe
					form(id="nyDagenskaffeForm", action="registrerNyDagensKaffe", method="POST")
						label(for="kaffenavn") Kaffe
						span#resultatKaffenavn.resultatKaffe.inlineblock(name="kaffenavn") #{dagensbrygg.kaffe_navn}
						br
						label(for="brygger") Kaffemaker
						span#resultatBrygger.dagensresultat.inlineblock.mediumWidth(name="brygger") #{dagensbrygg.brygger}
						br
						label(for="liter") Liter
						span#resultatLiter.dagensresultat.inlineblock.mediumWidth(name="liter") #{dagensbrygg.liter}
						br
						label(for="skjeer") Skjeer
						span#resultatSkjeer.dagensresultat.inlineblock.mediumWidth(name="skjeer") #{dagensbrygg.skjeer}
			div.halfWidth.leftAligned
				h2 Ny karakter
				form(id="nyKarakterForm", action="giKarakter", method="POST")
					input(id="kaffeNavn", type="text", name="kaffeNavn", style="display: none")
					div.selectSquaredCorners
						select#kaffeId(name="kaffeId")
							each element in dropdownkaffer
								option(value="#{element._id}") #{element.produsent} - #{element.navn} (#{element.type}) 
					label(for="kaffeId") Gjett
					br
					input.mediumWidth(type="text", id="bruker_navn", name="bruker_navn", placeholder="jerre...", required)
					label(for="bruker_navn") Brukernavn
					br
					div(style="width:0; height: 1em; display: inline-block; overflow: hidden")
						input(type="number", id="karakter", name="karakter", min="0.5", step="0.5", required)
					div.karakterSkala.mediumWidth#karakterSkala
						div.bean
							img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
							img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
						div.bean
							img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
							img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
						div.bean
							img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
							img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
						div.bean
							img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
							img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
						div.bean
							img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
							img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
					label(for="karakter") Karakter
					input(id="submitKarakter", type="submit", style="display: none")
		input(id="submit", type="button", value="Registrer", class="submitButton")