doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", type="text/css", href="css/kaffe.css")
		script(src="js/jquery-2.1.4.min.js", type="text/javascript")
		script(src="js/kaffeliste.js", type="text/javascript")
	body.container
		h1 Den store kaffesiden
		include nav.jade
		div.brygglistecontainer
			each produsent in produsenter
				div.tabellContainer
					h3.tabellHeader #{produsent["_id"]}
					table.tabellListe
						tr
							th Kaffenavn
							th Type
							th Land
							th Vis
						each kaffe in produsent.kaffe
							tr
								td #{kaffe.navn}
								td #{kaffe.type}
								td #{kaffe.land}
								td.centered.tinyWidth #[input(id=kaffe._id, type="checkbox", checked=kaffe.vis)]