doctype html
html
	head
		meta(charset="UTF-8")
		script(src="js/jquery-2.1.4.min.js", type="text/javascript")
		script(src="js/jQueryRotate.js", type="text/javascript")
		script(src="js/kalendervisning.js" type="text/javascript")
		script(src="js/karakterskala.js", type="text/javascript")
		link(rel="stylesheet", type="text/css", href="css/kaffe.css")
	body.container
		h1 Den store kaffesiden
		include nav.jade
		form#kalenderform(action="kalendervisning", method="GET")
			input#year(type="number", name="year", style="display: none")
			input#month(type="number", name="month", style="display: none")
			input#submitMonth(type="submit", style="display: none")
		div.calendarNavigation
			img#prevMonth.calendarIcon.navbutton(src="images/arrow_left.png", alt="Previous month", style="transform: rotate(0deg)")
			h2.mediumWidth.centered #{month}
			img#nextMonth.calendarIcon.navbutton(src="images/arrow_left.png", alt="Next month", style="transform : rotate(180deg)")
		p#yearP(style="display: none") #{fullYear}
		p#monthP(style="display: none") #{fullMonth}
		div(name="brygghistorikkmal", style="display: none")
			include bryggHistorikk.jade
		div.calendar
			mixin calendarDayColumn(weekdayNr, weekdayName)
				- var pos = weekdayNr 
				div.calendarDayOfWeek
					p.calendarHeader= weekdayName
					- var dayOfWeek = weekdayNr
					while dayOfWeek < 42
						div.calendarElement
							if dager[dayOfWeek].isThisMonth
								p.calendarDate.inlineblock #{dager[dayOfWeek].dayOfWeek}
							else
								p.calendarDate.shadowed #{dager[dayOfWeek].dayOfWeek}
							if dagsbrygg[dayOfWeek] != null
								div.clanderIconDiv
									-var nbrygg = 0
									while nbrygg < dagsbrygg[dayOfWeek].dagsbrygg.length
										img.calendarIcon(id=pos, src="images/coffee_bean.png", alt="Coffe bean")
										-nbrygg = nbrygg + 1
								p(id=pos, name="id")
						- pos = pos + 7
						- var dayOfWeek = dayOfWeek + 7
			+calendarDayColumn(0, 'Mandag')
			+calendarDayColumn(1, 'Tirsdag')
			+calendarDayColumn(2, 'Onsdag')
			+calendarDayColumn(3, 'Torsdag')
			+calendarDayColumn(4, 'Fredag')
			+calendarDayColumn(5, 'Lørdag')
			+calendarDayColumn(6, 'Søndag')