doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", type="text/css", href="css/kaffe.css")
		script(src="js/jquery-2.1.4.min.js", type="text/javascript")
		script(src="js/jQueryRotate.js", type="text/javascript")
	body.container
		h1 Den store kaffesiden
		include nav.jade
		div.rectangle.kaffelisteProdusentRectangle.kaffelisteWide
			h2 Denne uken
			table.kaffelisteKaffetabell
				tr
					th Brukernavn
					th Riktige
					th Totalt
					th Prosent
					th Snittkarakter
				each element in ledertavle
					tr
						td #{element.brukernavn}
						td #{element.antallRiktige}
						td #{element.antallTotalt}
						td #{element.calcProsent()}
						td #{element.calcAverageKarakter()}