doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", type="text/css", href="css/kaffe.css")
		script(src="js/jquery-2.1.4.min.js", type="text/javascript")
		script(src="js/jQueryRotate.js", type="text/javascript")
		script(src="js/ledertavle.js", type="text/javascript")
	body.container
		h1 Den store kaffesiden
		include nav.jade
		mixin gjetting(tittel, ledertavle)
			div.tabellContainer
				h3#tittel.tabellHeader #{tittel}
				table.tabellListe
					tr
						th#brukernavn Bruker
						th#column1 #[img.checkImage(src="images/check.png", alt="check")]
						th#column2 Tot.
						th#column3 %
						th#column4 Snitt
					each element in ledertavle
						tr
							td #{element.brukernavn}
							td #{element.antallRiktige}
							td #{element.antallTotalt}
							td #{element.calcProsent()}
							td #{element.calcAverageKarakter()}
		mixin brygg(ledertavle)
			div.tabellContainer
				h3#tittel.tabellHeader Brygg
				table.tabellListe
					tr
						th#brukernavn Bruker
						th#column1 Tot. brygg
						th#column2 Snittkarakter
					each element in ledertavle
						tr
							td #{element.brukernavn}
							td #{element.antallBrygg}
							td #{element.calcAverageBryggKarakter()}
		div.brygglistecontainer
			+gjetting("Denne uken", ledertavleUke)
			+gjetting("Denne måneden", ledertavleManed)
			+gjetting("Evigheten", ledertavleEvigheten)
			+brygg(ledertavleEvigheten)