div.tabellContainer
	h3#tittel.tabellHeader #{tittel}
	table.tabellListe
		tr
			th#brukernavn Bruker
			th#column1 #[img.checkImage(src="images/check.png", alt="check")]
			th#column2 Tot.
			th#column3 %
			th#column4 Snitt
		each element in ledertavle
			tr
				td #{element.brukernavn}
				td #{element.antallRiktige}
				td #{element.antallTotalt}
				td #{element.calcProsent()}
				td #{element.calcAverageKarakter()}