doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", type="text/css", href="css/kaffe.css")
		script(src="js/jquery-2.1.4.min.js", type="text/javascript")
		script(src="js/jQueryRotate.js", type="text/javascript")
		script(src="js/listdagenskaffe.js", type="text/javascript")
	body.container
		h1 Liste over tidligere dagenskaffe
		include nav.jade
		ul(id="allkaffe")
			each val in model 
				li.rectangle.dagenskaffe.container
					h2 Dagens kaffe 
					span #{val._id.toDateString()}
					table
						tr
							th Kaffenavn
							th Liter
							th Skjeer
							th Kaffemaker
						tr
							td#kaffenavnid #{val.kaffe_navn}
							td#kaffeliter #{val.liter}
							td#kaffeskjeer #{val.skjeer}
							td#kaffemaker #{val.brygger}
					img.karakterikon(src="images/arrow.png", alt="Arrow")
					ul.karakterer
						each karakter in val.karakterer
							li.smallrectangle
								table
									tr
										th Karakter
										th Bruker
										th Gjetting
									tr
										td #{karakter.karakter}
										td #{karakter.bruker_navn}
										td #{karakter.gjetting}