doctype html
html
	head
		meta(charset="UTF-8")
		script(src="jquery-2.1.4.min.js", type="text/javascript")
		script(src="jQueryRotate.js", type="text/javascript")
		script(src="listdagenskaffe.js", type="text/javascript")
		link(rel="stylesheet", type="text/css", href="kaffe.css")
	body.container
		h1 Den store kaffesiden
		include nav.jade
		if hardagenskaffe
			div.rectangle.dagenskaffe
				h2 Dagens kaffe
				img.karakterikon(src="arrow.png", alt="Arrow")
				//Table ligger i en ul slik at nedtrekksanimasjonen blir jevn. Kalles karakterer for å kunne bruke eksisterende script
				ul.karakterer  
					li 
						table
							tr
								th Kaffenavn
								th Liter
								th Skjeer
								th Kaffemaker
							tr
								td#kaffenavnid #{dagensKaffe.produsent} - #{dagensKaffe.navn} (#{dagensKaffe.type})
								td#kaffeliter #{model.liter}
								td#kaffeskjeer #{model.skjeer}
								td#kaffemaker #{model.brygger}
		if !hardagenskaffe
			div.rectangle.nydagenskaffe#nydagenskaffe
				h2 Ny dagens kaffe
				form(action="registrerNyDagensKaffe", method="POST")
					label(for="kaffe_navn") Kaffenavn
					select#kaffe_navn(name="kaffe_navn")
						each element in kaffer
							option(value="#{element.navn}") #{element.produsent} - #{element.navn} (#{element.type}) 
					br
					br
					label(for="kaffe_maker") Kaffemaker
					input(type="text", id="kaffe_maker", placeholder="kaffe_maker", hint="jerre...")
					br
					br
					label(for="liter") Liter
					input(type="number", id="skjeer", placeholder="liter", min="0.1", step="0.05")
					br
					br
					label(for="skjeer") Skjeer
					input(type="number", id="skjeer", placeholder="skjeer", min="0.25", step="0.25")
					br
					br
					input(type="submit", value="Submit")
		if hardagenskaffe
			div.rectangle.nydagenskaffe
				h2 Ny karakter
				form(action="giKarakter", method="POST")
					label(for="bruker_navn") Brukernavn
					input(type="text", id="bruker_navn", name="bruker_navn", placeholder="jerre...")
					br
					br
					label(for="karakter") Karakter
					input(type="number", id="karakter", name="karakter", min="0.5", step="0.5")
					br
					br
					label(for="gjetting") Gjett kaffenavn
					select#kaffe_navn(name="gjetting")
						each element in kaffer
							option(value="#{element.navn}") #{element.produsent} - #{element.navn} (#{element.type}) 
					input(type="submit", value="Submit")